<% provide(:title, 'Add New Category') %>

<div class="container containerwidth" style="background-color:#ffffff;border:1px solid #dedede;box-shadow:2px 2px 2px 2px #dedede;">
<h2 align="center">Add new category</h1>
<div class="form-group formwidth">
  <%= form_for @category, url: category_index_path do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
        <%= f.label :Category_name%>
        <%= f.text_field :category_name %>
      </div>
      <div class="form-group">
        <%= f.submit "Add", class: "btn btn-primary" %>
      </div>
  <% end %>
</div>
