<div style="float:right;margin-right:30px;">
    <%= link_to "Add New Category", admin_categories_new_path , :class => 'btn btn-success btn-lg'%>
</div>
<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>


<div class="container">
<h1 align="center">Category List</h1>
	<%#= will_paginate %>
	<table class="table table-bordered table-hover table-striped tablewidth", id="category">
		
		<thead>
			<tr>
				<th>Category Id</th>
				<th>Category Name</th>
				<th>Parent</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>


			<tr><% @category.each do |c| %>
				<td><%=c.id%></td>
				<td><%=c.category_name%></td>
				<td><%=c.parent%></td>
				<td >
					<%= link_to 'Edit', edit_category_path(c) , :class => 'btn btn-success btn-lg' %> &nbsp;&nbsp;&nbsp;
					<%= link_to 'Delete', category_path(c),:class => 'btn btn-danger btn-lg',
					method: :delete, data: { confirm: 'All its subcategories will be deleted.Do you want to continue?' } %> 

					<%if c.parent=="root"%>
					<%else%>

					<%= link_to 'Manage Questions', question_path(c), :class => 'btn btn-success btn-lg',"data-no-turbolink" => true %>
					<%end%>
				</td>
				
			</tr><%end%>
		</tbody>
		
	</table>
	<%#= will_paginate %>
</div>
</div>
