<div style="float:right;margin-right:30px;">
	<%= link_to "Add New Question", new_add_question_path , :class => 'btn btn-success btn-lg'%>
</div>
<br/>
<div>
<h1 align="center">Question List</h1>
<div class="table-responsive">
  <table class="table table-bordered table table-hover table table-striped tablewidth">
	<tr>
		<th>Question Id</th>
		<th>Question</th>
 		<th>Level</th>
 		<th>Category</th>
 		<th>Subcategory</th>
 		
 		
 		<% @add_questions.each do |c| %>
 	<tr>
		<td><%=c.id%></td>
		<td><%=c.question%></td>
		<td><%=c.question_level%></td>
			<td><%=c.category_id%></td>
				<td><%=c.subcategory_id%></td>
		
	</tr>
<%end%>

</table>
</div>
</div>
