<div align="center">

<% if current_user.role== "sadmin" %>
 <h1>Welcome Superadmin!!</h1><br/>
 <%= link_to 'Create', admin_users_new_path , :class => 'btn btn-success btn-lg'%><br/><br>
<% else %>
 <h1>Welcome Admin!!</h1><br/>
<% end %>

<%= link_to 'View All Useres', admin_users_path , :class => 'btn btn-success btn-lg'%><br/><br/>

<%= link_to "Add New Category", :controller => "category", :action => "new" ,:class =>'btn btn-success btn-lg'%>
<br/><br/>

<%= link_to 'Add Sub Category', :controller => "subcategory", :action => "new" , :class => 'btn btn-success btn-lg'%>
<br/><br/>

<%= link_to "Add Questions", :controller => "add_questions", :action => "new" ,:class =>'btn btn-success btn-lg'%>
</div>