<% if (signed_in? && current_user.role=='sadmin') %>
<li><%= link_to 'Add new user', admin_users_new_path , :class => 'btn btn-success btn-lg'%></li>
<% end %>

<h1 align="center">User List</h1>
<table class="table">
<tr>
<th>User Id</th>
<th>User Name</th>
<th>Role</th>
<th colspan="2">Action</th>
 <% @user.each do |u| %>
 <%if u.role=='sadmin'%>
 <%else%>
<tr>
<td><%=u.id%></td>
<td><%=u.name%></td>
<td><%=u.role%></td>
<td><%= link_to 'Edit', edit_admin_path(u)%> </td>
<td><%= link_to 'Delete', admin_path(u),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<%end%>
<%end%>
