<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<center>
<div class="row">
  <div class="span6 offset3">
      <%= form_for :user, url: admin_index_path do |f| %>
      <%#= render 'shared/error_messages' %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :role %>
      <%= f.select(:role, options_for_select([['Admin', 'admin'], ['User', 'user']])) %>
      <%=render 'category/category_list' %>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
      <%= f.label :email %>
      <%= f.text_field :email %>
      
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
</center>