<% if (signed_in? && current_user.role=='sadmin') %>
<div style="float:right;margin-right:30px;">
	<%= link_to 'Add new user', admin_users_new_path , :class => 'btn btn-success btn-lg'%>
	<% end %>
</div>
<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<div class="container">
	<h1 align="center">User List</h1>

	<div class="table-responsive">
		<table class="table table-bordered table-hover table-striped tablewidth", id="users">

			<thead>
				<tr>
					<th>Name</th>
					<th>role</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr><% @admin.each do |u| %>
					<%if u.role=='sadmin'%>
					<%else%>
					<td><%=u.name%></td>
					<td><%=u.role%></td>
					<td colspan="2">
						<%= link_to 'Edit', edit_admin_path(u) , :class => 'btn btn-success btn-lg' %> &nbsp;&nbsp;&nbsp;
						<%= link_to 'Delete', admin_path(u),:class => 'btn btn-danger btn-lg',
						method: :delete, data: { confirm: 'Are you sure?' } %> 
					</td>

					<%end%>
				</tr>
				<%end%>
			</tbody>
		</table>
	</div>
</div>