<% if (signed_in? && current_user.role=='sadmin') %>
    <div style="float:right;margin-right:30px;">
        <%= link_to 'Add new user', admin_users_new_path , :class => 'btn btn-success btn-lg'%>
        <% end %>
    </div>

    <div style="float:left;margin-left:30px;">
        <%= form_tag admin_users_path, :method => :get do %>
        <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :name => nil %>
        </p>
        <% end %>
    </div>

    <h1 align="center">User List</h1>
    <div class="table-responsive" id='user_data_div'>
        
        <%= render :partial => 'user_data' %>
        <%#= will_paginate %>
    </div>
