<% provide(:title, 'Sign up') %>

<div class="container" >
<h1 align="center">Sign up</h1>
<div class="form-group">
   
      <%= form_for(@user) do |f| %>
      
      <%= render 'shared/error_messages', object: f.object %>
       <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name , class: "form-control",:placeholder => "Enter Nmae"%>
      </div>
       <div class="form-group">
      <%= f.label :role %>
      <%= f.select(:role, options_for_select([['Admin', 'admin'], ['User', 'user']])) %>
      </div>
        <div class="form-group">
      <%= f.label :category %>
      <%= f.collection_select(:category, Category.all, :id, :category_name ) %>
      </div>
      <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password , class: "form-control",:placeholder => "Enter password"%>
       </div>
        <div class="form-group">
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: "form-control",:placeholder => "Re-enter Password" %>
      </div>
       <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email , class: "form-control",:placeholder => "Enter email"%>
      </div>
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
