  <% provide(:title, 'Edit Questions') %>

  <div class="container" style="background-color:#ffffff;border:1px solid #dedede;box-shadow:2px 2px 2px 2px #dedede;">

    <h1 align="center">Edit Question</h1>
    <div class="form-group formwidth">

     <%= form_for @question ,:controller => "question", :action => "edit"  do |f| %>
     <%= render 'shared/error_messages', object: f.object %>
     <div class="form-group">
       <%= f.label :Category_name%>
       <%= f.collection_select(:category, Category.where(:id=>$foo.id), :parent, :parent , class: "form-control") %>
     </div>
     
     <div class="form-group">
       <%= f.label :Subcategory_name%>
       <%= f.collection_select(:subcategory_id, Category.where(:id=>$foo.id),  :id ,:category_name ,class: "form-control") %>
     </div>
     
     <div class="form-group">
      <%=f.label :Select_Question_Level%>
      <%= f.select(:question_level, options_for_select([['1',1],['2',2],['3',3],['4',4],['5',5], ['6',6]] ,:selected => @question.question_level)) %>
    </div>
    
    <div class="form-group" >
      <%=f.label :Add_Question %>
      <%= f.text_area :question, class: "tinymce",:id => "quest"%>
      <%#=f.text_area :question %>
    </div>
    <div id="error"></div>

    <% i=1 %>   
    <% @opt.each_with_index do |c, index| %>    
    <div class="form-group" id="TextBoxDivs<%=index+1%>">
      <% i=i+1 %>
      <%= label_tag(:q, "option#{index+1}") %>
      <%#=f.label :option1 %>
      <%= text_field_tag(:"option#{index+1}" , '',:id =>"option'#{index+1}",:value => c.option)%>
      <%#=f.text_field :option1 %>
      <%= check_box_tag("answer[#{index+1}]", '1',c.answer)%>

      <%#= f.check_box :answer1 %>
    </div>
    <%end%>
    <%= hidden_field_tag("name", i)%>
    <div id='TextBoxesGroup' >
    <div id="TextBoxDivs">
      </div></div>
      <!-- <input type='button' value='Add More Options' id='addButton'><br/> -->
      <!-- <input type='button' value='Remove' id='removeButton'><br/> -->

      <%= button_tag "Add More Options", :id => "addButton", :type => "button" %>
      <%= button_tag "Remove", :id => "removeButton", :type => "button" %>

      <div class="col-sm-offset-4 col-sm-8">
       <%= f.submit "Edit",   :onclick => 'return checking()' ,class: "btn btn-large btn-primary" %>
       <%= link_to "Cancel",  question_path($foo.id), class: "btn btn-large btn-primary" ,"data-no-turbolink" => true %>
     </div>
     <% end %>
   </div>
   <%= tinymce %>

