<div style="float:right;margin-right:30px;">
	<%= link_to "Add New Question", admin_categories_question_new_path , :class => 'btn btn-success btn-lg' ,"data-no-turbolink" => true%>
</div>

<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<div class="container">

	<h1 align="center">Question List</h1>
	<div class="table-responsive">
		<table id="question" class="table table-bordered table table-hover table table-striped tablewidth">
			<thead>
				<tr>
					<th>Question Id</th>
					<th>Question</th>
					<th>Level</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>	
				
				<tr><% @question.each do |c| %>
					<td><%=c.id%></td>
					<td><%=c.question%></td>
					<td><%=c.question_level%></td>
					
					<td >
						<%= link_to 'Edit', edit_question_path(c) , :class => 'btn btn-success btn-lg'  ,"data-no-turbolink" => true%> &nbsp;&nbsp;&nbsp;
						<%= link_to 'Delete', question_path(c),:class => 'btn btn-danger btn-lg',
						method: :delete, data: { confirm: 'Are you sure?' } %> 
						
						
					</td>
				</tr>
				<%end%>
			</tbody>
		</table>
	</div>
</div>
