<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       <% if signed_in? && current_user.role=='sadmin'%>
        
        <li><%= link_to 'Create', admin_users_new_path %></li>
        <li><%= link_to "Add New Category", :controller => "category", :action => "new" ,:class =>'btn btn-success btn-lg'%>
</li>
        <li><%= link_to 'Add Sub Category', :controller => "subcategory", :action => "new" , :class => 'btn btn-success btn-lg'%>
</li>
        <li><%= link_to 'View All Useres', admin_users_path %><br/><br/>
</li>
<li><%= link_to "Add Questions", :controller => "add_questions", :action => "new" ,:class =>'btn btn-success btn-lg'%>
</li>
       <%elsif signed_in? && current_user.role=='admin'%>
          <li><%= link_to "Add New Category", :controller => "category", :action => "new" ,:class =>'btn btn-success btn-lg'%>
</li>
        <li><%= link_to 'Add Sub Category', :controller => "subcategory", :action => "new" , :class => 'btn btn-success btn-lg'%>
</li>
        <li><%= link_to 'View All Useres', admin_users_path %><br/><br/>
</li>
<li><%= link_to "Add Questions", :controller => "add_questions", :action => "new" ,:class =>'btn btn-success btn-lg'%>
</li>
        <%else%>
        <%end%>
      </ul>
      <ul class="nav navbar-nav navbar-right">
       
        <% if signed_in? %>
         <li style="color:red;margin-left:20px;"><h2>Hi,<%=current_user.name%></h2></li>
       <li><%= link_to 'Sign Out', signout_path, method: :delete %></li>
       <%else%>
        <li><%= link_to 'Sign In', login_path %></li>
        <%end%>
       
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
